.a{
  background-color: yellow;
  justify-content: center;
  color: blue;
  font-family: Arial, sans-serif;
}
.o{
  background-color: blue;
  justify-content: center;
  color: yellow;
  font-family: Arial, sans-serif;
}
